{%extends 'base_info.html'%} {%block banner%}
<div class="fb-banner" style="background: #f78263">
  <div class="container">
    <div class="row" style="height: 300px">
      <div class="col-sm-6 align-self-center">
        <h2 class="display-4 text-white">FOSTER A PET.</h2>
        <h2 class="display-4 text-white">SAVE A PET.</h2>
        <a class="btn btn-light" href="#info">LEARN MORE</a>
      </div>
      <div class="col-sm-6 align-self-end d-none d-sm-block">
        <img
          class="img-fluid"
          style="max-height: 300px"
          src="/static/images/joel-johnson-vfa_dXe3S3Y-unsplash.png"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
{% endblock %}
