{%extends 'base.html'%} {%block info%}
<div id="info" class="fb-info container container-md my-5">
  <div class="row g-3">
    <div class="col-4 text-center">
      <div class="card h-100">
        <div class="my-auto">
          <div class="card-body">
            <h5 class="card-title display-5">Foster Network</h5>
            <p class="card-text">
              It’s simple, one of the biggest ways you can save a life is by
              fostering.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              What is fostering?
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              A foster arrangement is a temporary period during which you
              provide a rescue-dog with basic necessities such as a safe home,
              nourishment, and exercise while our organization finds them
              permanent placement in a loving forever home.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              How long does a foster arrangement typically last?
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              We require rescues to spend a minimum period of time, usually 4
              weeks, in a foster home before being assigned a forever home, even
              if the fosters will ultimately be adopting. This time is necessary
              to conduct full and thorough medical and behavioral assessments
              post decompression period, including running medical tests and
              learning more about a dog’s general temperament and specific
              characteristics.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              What are the benefits of fostering?
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              The fostering process, while full of commitments, is also bursting
              with benefits not only for the rescue pet, but also for you. For
              the rescue, fostering provides an animal with a stable, low stress
              environment for optimal mental and physical rehabilitation, with
              more opportunities for exploration and socialization. For foster
              families, the experience provides a unique opportunity to learn
              about and be exposed to dogs of different breeds, sizes,
              temperaments, routines, etc. This is especially valuable if you
              are fostering in anticipation of adopting, as fostering will let
              you really see what breed or temperament really fit your
              lifestyle, and will lead you to making the best and most informed
              adoption decision in the end. Fostering does not guarantee
              adoption approval.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              What is foster-to-adopt?
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              Our Foster-to-Adopt program is a great way to see if a specific
              furry friend is right for you before committing to adopt. It is a
              foster arrangement with a special priority period during which
              your application will be first in line for review*, should you
              choose to adopt. (*You must apply to adopt prior to us approving
              another candidate). As a foster-to-adopt candidate, you can make
              the decision to adopt at any time before the rescue-dog is
              assigned permanent placement, but cannot officially adopt before:
              1) the required minimum foster period has passed, and 2) the dog
              is altered and fully vetted.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
