{% extends 'base_banner_info.html'%}
<!--  -->
{%block content%}

<div id="data" data-type="{{type}}" data-location="{{location}}"" data-page="{{page}}"></div>
<form id="search">
  <div class="row g-3  justify-content-center">
    <div class="col-md-3">
      <input
        class="form-control"
        type="text"
        name="location"
        id="location"
        placeholder="zip code"
      />
    </div>
    <div class="col-md-3">
      <select
        class="form-control pet-types"
        id="type"
        name="type"
        placeholder="type"
      >
        <option disabled selected>Type...</option>

      </select>
    </div>
    <div class="col-md-1">
      <button class="btn btn-primary" id="search-sumbit">SEARCH</button>
    </div>
  </div>

  <!--  -->
  <div class="text-center mt-5">
    {%if location and type%}
    <h2>Showing {{type}}s in {{location}}</h2>
    {%elif type%}
    <h2>Showing {{type}}</h2>
    {%elif location%}
    <h2>Showing pets in {{location}}</h2>
    {%else%} {%endif%}
  </div>

  <!--  -->
  <div id="pet-clone" class="d-none">
    <div class="pet col-md-3 col-6 my-3">
      <div class="card text-center  overflow-hidden">
        <a
          class="card-img-top overflow-hidden d-flex justify-content-center align-items-center"
          style="height: 250px; background: lightgray"
        >
          <img class="pet-img w-auto" style="min-height: 250px" />
          <i class="fas fa-paw text-white" style="font-size: 10em"></i>
        </a>

        <div class="card-body">
          <h4 class="pet-name text-truncate"></h4>
          <p class="distance"></p>
        </div>
      </div>
    </div>
  </div>
  <!--  -->

  <div id="pet-list" class="d-flex flex-wrap row g-3"></div>

  <div class="row justify-content-center mt-5 ">
    <div d="page-nav" class="input-group  col-sm-6 ">
      <button class="btn btn-primary prev" type="button" id="button-addon1">PREV</button>
      <select
      class="form-control mx-3"
      id="page-name"
      name="page-name"
      placeholder="page-name"
    ></select>
      <button class="btn btn-primary next " type="button" id="button-addon1">NEXT</button>
    </div>

  </div>



 
  <!--  -->
  <script type="module" src="/static/petsList.js"></script>

  {%endblock%}
</form>
